<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - API Github</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
        function buscar() {
            var nome = $('#nome').val();


            $("#repositorios").load('@(Url.Action("Index", "API",null, Request.Url.Scheme))?nome=' + nome);
            

        }

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("API Github", "Index", "API", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Meus Repositórios", "Index", "API")</li>
                    <li>@Html.ActionLink("Busca Repositórios", "Search", "Search")</li>
                    <li>
                        <div style="display: flex; padding-top: 8px;">
                            <input id="nome" class="form-control" placeholder="Digite o nome do repositório" type="text" style="margin-left: 17px;" />
                            <button type="submit" class="btn btn-primary glyphicon glyphicon-search" style="margin-left: 10px;" onclick="buscar();" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
